// Define variables for your color scheme

// For example:
$orange_primary: #F5783F;
$brown-secondary: #270E02;
$rose-secondary: #FEF1EC;
$dark-brown: #270E02;
$green-contrast: #D5E2B6;
$body-background: #ffffff;

$primary: $orange_primary;
$secondary: $brown-secondary;
