// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

@font-face {
  font-family: "Poppins";
  src: font-url("Poppins/Poppins-Light.ttf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: font-url("Poppins/Poppins-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: font-url("Poppins/Poppins-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Sintony";
  src: font-url("Sintony/Sintony-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Sintony";
  src: font-url("Sintony/Sintony-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

// Define fonts for body and headers
$body-font: "Sintony", "sans-serif";
$headers-font: "Poppins", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
