.bookings-container {
  width: 750px;
  margin: 0 auto;
  background-color: $rose-secondary;
  padding: 20px;
  border-radius: 15px;
}

.bookings-accordion-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.booking-card {
  width: 100%;
  padding: 20px;
  margin: 10px auto;

}
