// Specific CSS for your home-page

body {
//   background-color: $rose-secondary;
font-family: $body-font;
font-weight: light;
}

h1 {
  font-family: $headers-font;
  font-weight: light;
}

// Banner
.banner {
  // margin-top: 30px;
  background-size: cover;
  background-position: center;
  padding: 75px 0 50px 0;
}

.banner h1 {
  font-family: $headers-font;
  color: $yellow;
  margin: 0;
  text-align: center;
  font-size: 38px;
  font-weight: bold;
}

.banner p {
  font-family: $headers-font;
  font-size: 30px;
  text-align: center;
  color: $light-yellow;
}

.banner-container {
  width: 1100px;
  margin: auto;
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  background-color: $background-gray;
  border: 2px solid $pink;
  // display: grid;
  // grid-template-columns: 1fr 1fr 1fr;
  // grid-gap: 16px;
}
