// Specific CSS for your home-page

body {
background-color: $rose-secondary;
font-family: $body-font;
font-weight: light;
}

h1 {
  font-family: $headers-font;
  font-weight: light;
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.banner h1 {
  font-family: $headers-font;
  color: $orange_primary;
  font-size: 38px;
  font-weight: bold;
}

.banner h2 {
  font-family: $headers-font;
  font-size: 30px;
  color: $rose-secondary;
}

.intro_text_container {
  background-color: $rose-secondary;
  margin-top: 70px;
  margin-bottom: 200px;
}

.intro_text h3 {
  font-family: $body-font;
  font-size: 25px;
  color: $dark-brown;
  padding-left: 12px;
}

.intro_text h4 {
  font-family: $body-font;
  font-size: 20px;
  color: $dark-brown;
  padding-left: 12px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  width: 772px;
  height: 144px;
  left: 24px;
  top: 732px;
}

.search_form_container {
  padding: 25px;
}

.banner-info {
  padding: 16px;
}
