// Specific CSS for your home-page

body {
background-color: $body-background;
font-family: $body-font;
font-weight: light;
}

h1 {
  font-family: $headers-font;
  font-weight: light;
}

.banner {
  display: flex;
  align-items: center;
   height: calc(100vh - 62px - 60px);
}

.banner-index-page {
  justify-content: center;
  display: flex;
  align-items: center;
  height: 400px;
    h2 {
      color: $rose-secondary;
      font-family: $body-font;
    }
    // the h1 is not yet the right font-family!
}


.banner h1 {
  font-family: $headers-font;
  color: $orange_primary;
  font-size: 42px;
  font-weight: bold;
  text-align: left;
  padding-left: 12px;
}

.banner h2 {
  font-family: $headers-font;
  font-size: 30px;
  color: $rose-secondary;
  padding-left: 12px;

}
.intro_text_container {
  p {
    background-color: transparent;
  }
}

.intro_text h3 {
  font-family: $body-font;
  font-size: 25px;
  color: $rose-secondary;
  padding-left: 12px;
}

.intro_text p {
  font-family: $body-font;
  font-size: 20px;
  color: $rose-secondary;
  padding-left: 12px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  width: 772px;
  height: 144px;
  left: 24px;
  top: 732px;
  text-align: left;
  font-weight: lighter;
}

.search_form_container {
  padding: 25px;
  align-items: center;
  // opacity: 0.7;
  // position: relative;
  left: 176px;
  color: $rose-secondary;
  width: 500px;
  margin: 85px;

  .form-check-input:focus {
    border-color: $orange_primary;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(245, 120, 63, 0.25);
  }
  .form-select {
    background-color: $search_form_background;
    border-color: $orange_primary;
    color: $dark-brown;
    border-radius: 15px;
  }

  .btn-second-orange {
    margin-top: 10px;
    color: $body-background;
    background-color: $brown-secondary; opacity: 65%;
    border: 1px solid $orange_primary;
  }
}

.banner-info {
  padding: 16px;
}

.no-musicians-info {
  margin: 15px auto ;
  text-align: center;
}
