<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-soundcloud"></i></a>
    <a href="#"><i class="fab fa-youtube"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-spotify"></i></a>

  </div>
  <div class="footer-copyright">
    This Website is composed by Besher, Colleen, Katja & Louise!
  </div>
</div>
