<div class="social-links d-flex justify-content-center pb-3" style="margin-left: 190px"
>
  <%= link_to musician.soundcloud_link do %>
    <i class="fa-brands fa-soundcloud fa-xl m-2"></i>
  <% end %>
  <%= link_to musician.youtube_link do %>
    <i class="fa-brands fa-youtube fa-xl m-2"></i>
  <% end %>
  <%= link_to musician.instagram_link do %>
    <i class="fa-brands fa-instagram fa-xl m-2"></i>
  <% end %>
  <%= link_to musician.spotify_link do %>
    <i class="fa-brands fa-spotify fa-xl m-2"></i>
  <% end %>


    <%# <a href="#"><i class="fab fa-youtube"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-spotify"></i></a> %>
  </div>
