<html>
  <head>
    <title>MeloDeal</title>
    <meta name="description" content="We connect professional musicians with eventhosts in your town.">
    <meta charset="utf-8">
  </head>
  <body>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1621368286550-f54551f39b91?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);">
  <div class="banner-info">
    <h1>Welcome to MeloDeal</h1>
    <h2>Whenever you want to find a musician for a live performance, make it a MeloDeal!</h2>
    <div class="intro_text">
      <%# <div class="intro_text_container">
        <p>At MeloDeal we connect you with young professional musician. Our mission is to support these amazing artists when it is the hardest:<br>
        In the beginning of there career. You music lover have the opportunity to book a professional for you event!<br>
        Are you hosting an event and looking for a young professional musician?<br>
        You are studying music and want paid experience?<br>
        Good news, you've both come to the right place.</p>
      </div> %>
    </div>
  </div>


   <%= render "shared/search_form" %>


</div>
