<html>
  <head>
    <title>MeloDeal</title>
    <meta name="description" content="We connect professional musicians with eventhosts in your town.">
    <meta charset="utf-8">
  </head>
  <body>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://unsplash.com/de/fotos/IsKijub-qHM);">
  <div class=“container”>
    <h1>Welcome to MeloDeal</h1>
    <h2>We connect young professional musicians with you</h2>
    <%# <%= render partial: "pages/shared/search_button" %>
</div>
</div>
</body>
</html>
