.accordion-item {
  border: 1px solid $orange_primary;
}

#accordionExample .accordion-item {
  border-radius: 15px;
}

#accordionExample .accordion-button {
  border-radius: 15px;
  background-color: white;

}

.pending {
  padding: 7px;
  border-radius: 15px;
  background-color: $rose-secondary;
  color: $brown-secondary;
  margin-bottom: 4px;
  margin: 5px;
  align-items: end;

}

.accepted {
  padding: 7px;
  border-radius: 15px;
  background-color: $green-contrast;
  color: $brown-secondary;
  margin-bottom: 4px;
  margin: 5px;
}

.declined {
  padding: 7px;
  border-radius: 15px;
  background-color: lightgray;
  color: $brown-secondary;
  margin-bottom: 4px;
  margin: 5px;

}
