.accordion-item {
  border: 1px solid $orange_primary;
}

#accordionExample .accordion-item {
  // font-size: 0.5em;
  // border-top: 2em solid blue;
  // border-bottom: 2em solid blue;
  // border-left: 2em solid blue;
  // border-right: 2em solid blue;
  border-radius: 15px;
}

#accordionExample .accordion-button {
  border-radius: 15px;
  background-color: white;

  // .accepted {
  //   background-color: $green-contrast;
  // }

  // .declined {
  //   background-color: lightgrey;
  // }
  .flex-container {
    background-color: brown;
}
}

.pending {
  padding: 7px;
  border-radius: 15px;
  background-color: $rose-secondary;
  color: $brown-secondary;
  margin-bottom: 4px;
}

.accepted {
  padding: 7px;
  border-radius: 15px;
  background-color: $green-contrast;
  color: $brown-secondary;
  margin-bottom: 4px;
}

.declined {
  padding: 7px;
  border-radius: 15px;
  background-color: lightgray;
  color: $brown-secondary;
  margin-bottom: 4px;
}


// .accordion .accordion-item + .accordion-item {
// margin-top: 2rem;
// border-top: 2em solid blue;
// }
