.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  margin-top: 20px;
  margin-bottom: 70px;
}

.main-card {
  background-color: $rose-secondary;
  border-radius: 15px;
  width: 300px;
  height: 400px;
  text-align: left;
  margin-top: 15px;

}
.card-image-container {
  width: 285px;
  height: 250px;
  overflow: hidden;
  text-align: center;
  margin: 6px auto;
  border-radius: 15px;
}

.card-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: relative;
  img {
    width: 100%;
    border-radius: 15px
  }
}

.musician-tag {
  position: absolute;
  bottom: 8px;
  right: 16px;

  p {
    padding: 7px;
    border-radius: 15px;
    background-color: $rose-secondary;
    color: $brown-secondary;
    margin-bottom: 4px;
  }
}

h1 {
  font-family: $headers-font;
}
h2 {
  font-family: $body-font;
}
 h3 {
  color: $orange_primary;
  font-weight: lighter;
  padding-left: 10px;
  padding-right: 5px;
 }
 h4 {
  color: $brown-secondary;
  font-size: 18px;
  padding-left: 10px;
  padding-right: 5px;
  font-family: $body-font;
 }

p {
  text-overflow: ellipsis;
  color: $brown-secondary;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  font-family: $body-font;
}
.card-content {
  text-decoration: none;
  overflow: hidden;
  padding-left: 15px;
}
.instrument-tag {
  border-radius: 15px;
  background-color: $orange_primary;
  color: $rose-secondary;
  width: fit-content;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 10px;

}
// .card-category {
//   width: 380px;
//   height: 250px;
//   background-position: right;
//   background-size: contain;
// }



// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}
