.footer {

  text-align: center;
  padding: 60px;
  position: absolute;
  width: 1512px;
  height: 121px;
  left: 0px;
  top: 861px;
  background: #270E02;
}

// .footer a {
//   font-size: 30px;
//   color:  #e9c810;
// }

// .footer p {
//   color: rgb(249, 240, 158);
// }

// .footer .fas {
//   color: $pink;
// }

// .wrapper {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   min-height: 100vh;
// }
