.form-devise {
  background: $rose-secondary;
  padding: 20px 20px;
  margin-top: 50px;
  border-radius: 15px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  h2 {
  //   font-size: 25px;
  //   font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
  //   width: 100%;
    margin-bottom: 20px
  }
  width: 600px;
  margin-bottom: 40px;
}

.form-control:focus {
  border-color: $orange_primary;
  color: #0E0000;
  background-color: white;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(245, 120, 63, 0.25);
}


.form-check-input:checked {
  background-color: $orange_primary;
  border-color: $orange_primary;
}

.form-check-input:focus {
  border-color: white;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(245, 120, 63, 0.25);
}

input#user_email.form-control.string.email.optional {
  background: white;
}

input#password.form-control.password.optional {
  background: white;
}

.search-bar {
// background-color:#ffffff57;
  position: relative;
  .form-control {
    background-color: $search_form_background;
    border-radius:15px ;
    border: solid 1px;
    border-color: $orange_primary;
    color: $dark-brown;
  }
  .form-control::placeholder {
    color: $dark-brown;
    opacity: 1;
  }
  .btn-first {
    position: absolute;
    right: 0px;
    height: 37px;
  }

}

.form-select .dropdown {
  background-color: aqua;
}

// .search-align {
//     display: flex;
//     justify-content: space-between;
//     align-items: end;
// }

.simple_form.filter {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 1rem;
}

.filter_location {
  width: 65%;
  margin-bottom: 0 !important;
}

.find-button {
  width: 30%;
  height: 38px;
}
