.navbar-lewagon {
  width: 100%;
  justify-content: space-between;
  background: $brown-secondary;
  position: fixed;
  top: 0px;
  z-index:1;

  .nav-link {
    color: $orange_primary;
  }
   .nav-link:hover {
    color: $rose-secondary;
   }
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
