.navbar-lewagon {
  width: 100%;
  justify-content: space-between;
  background: $brown-secondary;
  position: sticky;
  top: 0px;
  z-index: 1;

  .nav-link {
    color: $orange_primary;
    margin-right: 15px;
  }
   .nav-link:hover {
    color: $rose-secondary;
   }

   .nav-link .btn {
    color: $brown-secondary;
   }
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  margin-left: 20px;
}

.container-fluid {
  margin-right: 20px;
}
