@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap");

.show-card {
    padding: 15px;
    width: 900px;
    background: $rose-secondary;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.7);
    user-select: none;
    color: $brown-secondary;



  //   .btn {
  //     margin: 30px 15px;
  //     background: #7ce3ff;
  //     padding: 10px 25px;
  //     border-radius: 3px;
  //     border: 1px solid #7ce3ff;
  //     font-weight: bold;
  //     font-family: Montserrat;
  //     cursor: pointer;
  //     color: #222;
  //     transition: 0.2s;
  // }

  // .btn:last-of-type {
  //     background: transparent;
  //     border-color: #7ce3ff;
  //     color: #7ce3ff;
  // }

  // .btn:hover {
  //     background: #7ce3ff;
  //     color: #222;
  // }


}

.cover-photo {
    position: relative;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("https://images.unsplash.com/photo-1621368286550-f54551f39b91?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80");
    // background: url(https://i.imgur.com/jxyuizJ.jpeg);
    // opacity: 0.8;
    background-size: cover;
    height: 180px;
    border-radius: 5px 5px 0 0;
}

.profile {
    position: absolute;
    width: 120px;
    bottom: -60px;
    left: 15px;
    border-radius: 50%;
    border: 1px solid $brown-secondary;
    // background: $brown-secondary;
    padding: 5px;
}

.profile-name {
    font-size: 20px;
    margin: 25px 0 0 120px;
    color: $brown-secondary;
}

.about {
    margin-top: 30px;
    line-height: 1.6;
}



.icons {
    width: 180px;
    margin: 0 auto 10px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.icons i {
    cursor: pointer;
    padding: 5px;
    font-size: 18px;
    transition: 0.2s;
}

.icons i:hover {
    color: $orange_primary;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.flex-packages {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.package-card {
  width: 150px;
  padding: 20px;
  margin: 10px;
  border: 1px solid $brown-secondary;
  border-radius: 5px;
  // display: flex;

}
