
.ratings{
    margin-right:10px;
}
.ratings i{
    color:#cecece;
    font-size:18px;
}
.rating-color{
    color:#F5783F !important;
}
.review-count{
    font-weight:400;
    margin-bottom:2px;
    font-size:24px !important;
}
.small-ratings i{
  color:#cecece;
}
.review-stat{
    font-weight:300;
    font-size:12px;
    margin-bottom:2px;
}
